@import 'reset';
$primary-color: rgb(40,60,90);
$input-color: rgb(26,42,61);
$sidebar-color: rgb(28,35,53);
$text-color: #ccc;
$padding: 1rem;

* {
    box-sizing: border-box;
    -webkit-appearance: none;
}

.chat {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    color: $text-color;
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 20%;
        background: $sidebar-color;
        padding: $padding;
        overflow-y: scroll;

        h3 {
            font-size: 1.2rem;
        }

        ul {
            flex: 1 1 90%;
            align-items: flex-start;
        }

        li {
            margin-top: 1rem;
            list-style: none;
            background: $primary-color;
            padding: 1rem;
            font-size: 1rem;
        }

        form {
            flex: 0 1 10%;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
        }
        input {
            width: 100%;
        }
        button {
            flex-basis: 100%;
            background: $primary-color;
        }
    }

    .main {
        background: $primary-color;
        display: flex;
        flex: 1 0 80%;
        flex-direction: column;
        justify-content: space-between;

        .messages {
            flex: 0 1 100%;
            padding: $padding;
            overflow: hidden;
            flex-direction: column;
            display: flex;
            justify-content: flex-end;

            li {
                padding: 0.1rem 0;
            }

            a {
                text-decoration: none;
                color: $text-color;
                background: $sidebar-color;
                padding: 0.1rem 0.3rem;
                display: inline-block;
            }
        }

        .inputs {
            display: flex;
            flex-wrap: nowrap;
            flex: 1 1 4rem;
            padding: $padding;
            justify-content: space-between;
            align-items: stretch;

            form {
                display: flex;
                flex-wrap: nowrap;
                flex: 1 1 40%;
                justify-content: space-between;
                align-items: stretch;
            }

            .send-location {
                margin-left: 1rem;
                flex: 0 0 9rem;
            }
        }
    }

    input {
        background: $input-color;
        font-size: 1rem;
        padding: 5px;
        color: #f2f2f2;
        height: 2rem;
        flex: 0 1 100%;
    }

    button {
        background: $input-color;
        color: $text-color;
        font-size: 1rem;
        border: 0;
        height: 2rem;
        padding: 0 1rem;
    }
}
