<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/assets/styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="chat">

    <div class="main">
        <ol id="chat" class="messages"></ol>
        <div id="typing" class="typing" ></div>
        <div class="inputs">
            <form id="message">
                <input type="text" placeholder="Message" autofocus autocomplete="off"/>
                <button>Send</button>
            </form>
            <button id="send-location" class="send-location">Send location</button>
        </div>
    </div>

    <div class="sidebar">
        <h3>Users</h3>
        <ul id="users"></ul>
        <form id="name">
            <input type="text" placeholder="Name" autofocus autocomplete="off"/>
            <button>Update</button>
        </form>
    </div>

    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script src="/assets/static/jquery.js"></script>
    <script src="/assets/static/Bacon.js"></script>
    <script src="/assets/static/moment.js"></script>
    <script src="/assets/scripts/main.min.js"></script>
</body>
</html>
